@import "tailwindcss";

html {
  font-size: 115%;
}

@media (max-width: 480px) {
  html {
    font-size: 105%;
  }
}

@supports (padding: env(safe-area-inset-bottom)) {
  body {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
